:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font: 600 13px/20px roboto, "Open Sans", Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary-black: #00171F;
  --color-dark-blue: #1A96FB;
  --color-light-blue: #99d1ff;
  --color-white: #FFFFFF;
}

body {
  margin: auto;
}
